.gallery {
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}

/*.content::after {*/
/*    content: "";*/
/*    flex: auto;*/
/*}*/

.gallery a {
    flex: 1;
    padding: 0 0.5em 1em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery a div {
    width: 235px;
    height: 235px;
    background-color: rgba(255, 255, 255, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery a h3 {
    font-size: 20px;
    font-weight: 700;
}

.gallery a p {

}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.modal-wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 1em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-wrapper .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-wrapper #modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: calc(1em + 10px);
}

.modal-wrapper .modal-content, .modal-wrapper #modal-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal-wrapper .modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--dark-color);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    background: transparent;
    line-height: 26px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.modal-wrapper .modal-close:hover, .modal-wrapper .modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-wrapper .modal-content {
        width: 100%;
    }

    .modal-wrapper #modal-caption {
        display: flex;
        flex-direction: column;
        height: calc(2em + 10px);
    }


    .modal-wrapper .modal-close {
        right: 1px;
    }
}
