.table table {
    width: 80%;
    margin: 1em auto;
    border: var(--light-color) 1px solid;
    border-spacing: 0;
}

.table th {
    background-color: var(--light-color);
    font-weight: bold;
    font-size: 1.2em;
    color: var(--dark-color);
}

.table td {
    background-color: transparent;
    text-align: center;
    padding: 5px 0;
}

.table td.number {
    width: 20%;
}

.table tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.1);
}
