@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono:100,300,400,500,700,900');

@import "header.css";
@import "index.css";
@import "pokemon.css";
@import "shiny.css";

:root {
    --background-color: #222;
    --light-color: #dbad8c;
    --dark-color: #835548;
    --success-color: yellowgreen;
    --failure-color: #a82e2e;
}

* {
    font-family: 'Noto Sans Mono', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--light-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

.upload {
    width: calc(80% - 1em);
    margin: 1em auto;
    border: var(--light-color) 1px solid;
    border-radius: 1em;
    padding: 0.5em;
}

.upload div.field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5em;
}

.upload label {

}

.upload input, .upload select, .upload button {
    padding: 15px;
    border: var(--light-color) 1px solid;
    border-radius: 4px;
}

.upload div.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.upload button {
    width: 25%;
    cursor: pointer;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .upload button {
        width: 100%;
    }
}