.progress {
    margin: 1em auto;
    width: 80%;
    max-width: 600px;
    border: 2px solid var(--dark-color);
}

.progress div {
    height: 1em;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.5em;
}

.progress div p {
    position: absolute;
    background: transparent;
    color: var(--dark-color);
    font-weight: bold;
    text-shadow: -1px -1px 1px var(--light-color),
    -1px 1px 1px var(--light-color),
    1px -1px 1px var(--light-color),
    1px 1px 1px var(--light-color);
}

@media only screen and (max-width: 700px) {
    .progress {
        width: 90%;
    }
}
