@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono:100,300,400,500,700,900');

@import "header.css";
@import "gallery.css";
@import "gallery-small.css";
@import "menu.css";
@import "progress.css";
@import "table.css";
@import "upload.css";

:root {
    --background-color: #363732;
    --light-color: #dbad8c;
    --dark-color: #835548;
    --success-color: yellowgreen;
    --failure-color: #a82e2e;
}

* {
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--light-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

.content p.info {
    width: 80%;
    max-width: 600px;
    margin: 1em auto;
    text-align: center;
}

.lazy {
    width: 80%;
    margin: 1em auto;
}

@media only screen and (max-width: 700px) {
    .content p.info {
        width: calc(100% - 3em);
    }
}
