.table table {
    width: 80%;
    margin: 1em auto;
    border: var(--light-color) 1px solid;
    border-spacing: 0;
}

.table th {
    background-color: var(--light-color);
    font-weight: bold;
    font-size: 1.2em;
    color: var(--dark-color);
}

.table th div, .table th span, .table th a {
    background: transparent;
    font-weight: bold;
    color: var(--dark-color);
}

.table th.type {
    width: 170px;
}

.table th.action {
    width: 10%;
}

.table td {
    background-color: transparent;
    text-align: center;
    padding: 8px 0;
}

.table td img {
    width: 26px;
    background: transparent;
}

.table td i {
    background: transparent;
}

.table tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

.table div.type {
    margin: auto;
    width: 90px;
    border-radius: 4px;
    border: 2px solid;
    color: white;
}

.table form {
    background: transparent;
}

.table button {
    height: 26px;
    width: 26px;
    cursor: pointer;
    border: var(--light-color) 1px solid;
    border-radius: 13px;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .table table {
        width: calc(100% - 2em);
    }

    .table th.type {
        width: 150px;
    }

    .table .hide {
        display: none;
    }

    .table div.type {
        width: 70px;
        font-size: 0.8em;
    }
}
